H1.clase1 {font-size: 34px; color: #F0047F;font-family: calibri,helvetica,verdana;}
H1.clase2 {font-size: 14px; color: #565656;font-family: calibri;}
H1.clase3 {font-size: 15px;color: #F0047F;font-family: verdana;}
H1.clase4 {font-size: 10px;color: red;}
